{% set cartProd = products|length %}
{% extends "base.html.twig" %}


{% block body %}

<script>
		const serverdata = {{tot|raw}}
	</script>
	<h1 class="fw-bold">Carrello</h1>

	{% if products|length == 0 %}
		<div class="noprod">
			<div class="cart">
				<h3>Non ci sono prodotti nel carrello</h3>
				<img src="imgs/empty_cart.png" alt="">
				<button type="button" class="btn btn-success">
					<a href="{{path('app_prodotti')}}">Torna allo Shopping</a>
				</button>

			</div>
		</div>
	{% endif %}
	{% if products|length > 0 %}
		<div class="nprod px-5">
			<h5>Hai {{products|length}} prodotti nel carrello</h5>
		</div>

		<div class="products px-5">
			{% for product in products %}
				<li class="list-group-item custom">
					<div class="name">
						<h3>{{product.nome}}</h3>
						<div style="width: 90px">
							<img src="{{product.imagePath}}" alt="" width="90px">
						</div>
					</div>
					<div class="txt">
						<p>{{product.descrizione}}</p>
					</div>
					<div class="qtn">
						<div class="btn-group" role="group" aria-label="Basic example">
							<button type="button" class="btn btn-success" onclick="handleLess(this)">-</button>
							<input type="number" class="number-input" id="qtninput" value={{product.quantita}} readonly>
							<button type="button" class="btn btn-success" onclick="handleMore(this)">+</button>
						</div>
						
						<div class="acquisto">
							<h4>{{product.prezzo}}€</h4>
							<form action="/cart" method="POST">
								<input type="hidden" style="display: none;" name="idCarrello" value={{product.id}}>
								<button type="submit" class="btn btn-danger">Rimuovi dal carrello</button>
							</form>
						</div>
					</div>
				</li>
				{% endfor %}

		</div>

		<div class="recap px-5">
			<div id="carosello">
			<div id ="correlati"><h5 class ="text-success">Potrebbe interessarti anche:</h5></div>
			{% if carusel|length > 0 %}		
				<div id="carouselExample" class="carousel slide">
					<div class="carousel-inner d-flex justify-content-center mt-5">
						{% for p in carusel %}
							{% for c in p %}
								{% if c == carusel [0][0] %}
									<div class="carousel-item active">
										<a href="{{path('app_prodotti')}}">
											<img src= {{c.imagePath}} class="w-25" alt="...">
										</a>
									</div>
								{% endif %}
								{% if c != carusel [0][0] %}
									<div class="carousel-item ">
										<a href="{{path('app_prodotti')}}">
											<img src= {{c.imagePath}} class="w-25" alt="...">
										</a>	
									</div>
								{% endif %}									
							{% endfor %}
						{% endfor %}
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="text-dark">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="text-dark">Next</span>
					</button>
				</div>
			{% endif %}
			</div>
			<div class="checkout">
				<ul class="list-group">
					<li class="list-group-item tot">Sub Totale: <div><span id="totalPrice"></span><span>€</span></div></li>
					<li class="list-group-item tot">Spedizione: <div><span id="shipment"></span><span>€</span></div></li>
					<li class="list-group-item">
					<div class="input-group gr">Codice Sconto:
						<form method="POST" onsubmit="handlePromoCode(event)">
							<input class="form-control" type="text" name="promoCode">
							<button type="submit" class="btn btn-success" >Applica</button>
						</form>
					</li>
					<li class="list-group-item tot">Totale: <br>di cui IVA(22%):
						<div>
							<span id="total"></span><span>€</span>
							<br><span id="ivatot"></span><span>€</span>
						</div>
						
					</li>
					<li class="list-group-item checkoutbtn">
                        <a href="{{path('app_checkout')}}">
                            <button type="button" class="btn btn-success">Go To Check Out</button>
                        </a>
					</li>
				</ul>

			</div>
		</div>

	{% endif %}

	
{% endblock %}

	{% block javascripts %}
		<script src = 'scripts/counter.js'></script>
	{% endblock %}