{% set cartProd = products|length %}
{% extends "base.html.twig" %}


{% block body %}

<script>
		const serverdata = {{tot|raw}}
	</script>
	<h1 class="fw-bold">Carrello</h1>

	{% if products|length == 0 %}
		<h5>Hai {{products|length}} prodotti nel carrello</h5>
		<h3>Non ci sono prodotti nel carrello</h3>
	{% endif %}
	{% if products|length > 0 %}
		<div class="nprod px-5">
			<h5>Hai {{products|length}} prodotti nel carrello</h5>
		</div>

		<div class="products px-5">
			{% for product in products %}
			<li class="list-group-item custom">
				<div class="name">
					<span style="display: none;">{{product.id}}</span>
					<h3>{{product.nome}}</h3>
					<div style="width: 90px">
						<img src="{{product.imagePath}}" alt="" width="90px">
					</div>
				</div>
				<div class="txt">
					<p>{{product.descrizione}}</p>
				</div>
                <div class="qtn">
					<div class="btn-group" role="group" aria-label="Basic example">
						<button type="button" class="btn btn-success" id="meno" onclick="handleLess(this)">-</button>
							<input type="number" class="number-input" id="qtninput" value={{product.quantita}}>
						<button type="button" class="btn btn-success" id="piu" onclick="handleMore(this)">+</button>
					</div>
					
					<div class="acquisto">
						<h4>{{product.prezzo}}€</h4>
						<button type="button" class="btn btn-danger" id="removeFromCart" onclick="handleRemove(this)">Rimuovi dal carrello</button>
					</div>
				</div>
			</li>
			{% endfor %}
		</div>
		<div class="recap px-5">
			<div class="checkout">
				<ul class="list-group">
					<li class="list-group-item tot">Sub Totale: <span id="totalPrice"></span></li>
					<li class="list-group-item tot">Spedizione: <span id="shipment"></span></li>
					<li class="list-group-item">Codice Sconto:
						<input type="text">
						<button type="button" class="btn btn-success">Applica</button>
					</li>
					<li class="list-group-item tot">Totale: <span id="total"></span></li>
					<li class="list-group-item checkoutbtn">
                        <a href="{{path('app_checkout')}}">
                            <button type="button" class="btn btn-success">Go To Check Out</button>
                        </a>
					</li>
				</ul>

			</div>
		</div>

	{% endif %}

	
{% endblock %}

	{% block javascripts %}
		<script src = 'scripts/counter.js'></script>
		<script src = 'scripts/removeFromCart.js'></script>
	{% endblock %}