<li class="list-group-item custom">
	<div class="name">
		<h3>{{nome}}</h3>
		<div style="width: 90px">
            <img src="{{img}}" width="90px">
        </div>
	</div>
	<div class="txt">
		<p>{{descrizione}}</p>
	</div>
	<div class="acquisto">
		<h4>{{prezzo}}€</h4>
		<form action="/cart" method="POST">
			<input type="hidden" name="prodottoId" value={{id}}>
			<button type="submit" class="btn btn-success">Aggiungi al carrello
				<i class="fa">&#xf07a;</i>
			</button>
		</form>
		<span style="display: none;">{{categoria}}</span>
	</div>
</li>
